* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.container {
    max-width: 35rem;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    gap: 20px;
}

.addContainer {
    display: flex;
    width: 100%;
    gap: 10px;
}

.addContainer>input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    width: 100%;
}

.addContainer>button {
    padding: 0 15px;
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
    transition: all linear 0.3s;
}

.addContainer>button:active {
    scale: 0.9;
}

.addContainer>button:hover {
    background-color: rgb(71, 248, 71);
}

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listContainer .list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aliceblue;
    padding: 12px;
    border-radius: 5px;
}
.listContainer .deleteBtn{
   padding: 5px;
}